<% provide(:title, "Instructions") %>
    <h1>Instructions for Annotation</h1>
    <h2>Instructions for Task 1: </h2>
    <p> Instructions go here </p>
    <br>
    <h2>Instructions for Task 2: </h2>
    <p> Instructions go here </p>