@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;


/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
      margin-right: 20px;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
   }
   span {
     display: block;
     margin-bottom: 3px;
     line-height: 1;
  }
  h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
  }
 }
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* miscellaneous */

.top-bar {
  padding: bottom;
}

.full-page {
  padding: top;
  font-family: 'Open-sans', sans-serif;
}

.sticky-top {
  top: 15%;
  bottom: 10%;
  width: 18%;
  position:fixed;
  padding: 2%;
  float: left;
  overflow-y:scroll;
  background-color: $gray-medium-light;
  border-radius: 15px;
}

.page-content {
  position: relative;
  float: right;
  top: 10%;
  width: 70%;
  /*border-left: solid;
  border-color: #86a6c0; */
  padding: 5%;

}

.info-header {
  background-color: #ebf2f8;
  padding: 3%;
  padding-top: 1%;
  border: solid;
  position: relative;
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px #265e8d;
}

.evidence-list {
  font-size: 20px;
}

.checkbox-list {
  font-size: 17px;
  background-color: $gray-medium-light;
  line-height: 17px;
  border-radius: 15px;
  width: 200px;
  height: 110px;
  margin: 15px;
}

.checkbox-list label {
  position: relative; 
  margin-left: 5px;
  margin-top: 5px;
}

.checkbox-list input[type=checkbox] {
  margin-top: 7px;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  float: left;
  top: -1px;
}

.answerable-list {
  font-size: 17px;
  background-color: $gray-medium-light;
  line-height: 17px;
  border-radius: 15px;
  width: 240px;
  height: 60px;
  margin: 15px;
}

.answerable-list label {
  position: relative; 
  margin-left: 5px;
  margin-top: 5px;
}

.answerable-list input[type=radio] {
  margin-top: 7px;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  float: left;
  top: -1px;
}

/* Tooltip container */
.tool-tip {
  position: relative;
  display: inline-block;
}

.tool-tip:hover {
  font-style: italic;
}

/* Tooltip text */
.tool-tip .tool-tip-text {
  font-style: normal;
  visibility: hidden;
  opacity: 100;
  background-color: #ebf2f8;
  outline-style: solid;
  outline-color: #387cb4;
  outline-width: 2px;
  color: #163248;
  text-align: left;
  text-indent: 2%;
  padding: 15px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 30%;
  
  /*margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container  */
.tool-tip:hover .tool-tip-text {
  visibility: visible;
}

.actions {
  padding: 15px;
  font-size: 16px;
}

.go-back {
  background-color: #282a2d;
  color: white;
  border-radius: 5px;
  padding-left: 17%;
  padding-top: 10px;
  padding-right: 17%;
  padding-bottom: 10px;
  margin-right: 5px;
}
.next-section {
  background-color: #387cb4; 
  outline-style: solid;
  border-color: black;
  color: white;
  border-radius: 5px;
  padding-left: 15%;
  padding-top: 7px;
  padding-right: 15%;
  padding-bottom: 5.5px;
  width: 50%;
}

.next-section-4 {
  background-color: #387cb4; 
  outline-style: solid;
  border-color: black;
  color: white;
  border-radius: 5px;
  padding-left: 15%;
  padding-top: 10px;
  padding-right: 15%;
  padding-bottom: 9px;
  width: 50%;
}

.go-back:hover {
  background-color: #424b4f;
  text-decoration: none;
  color: white;
}

.next-section:hover {
  background-color: #3270a2;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}